---
import Main from "../components/Main.astro";
import Splash from "../components/Splash.astro";
import Layout from "../layouts/Layout.astro";
import ContactFooter from "../components/ContactFooter.astro";
import Divider from "../components/Divider.astro";
import Experience from "../components/Experience.astro";
import designImage from "./src/content/projects/images/design.png";
import softwareImage from "./src/content/projects/images/software.png";
import { Image } from "astro:assets";
---

<Layout title="Home">
  <Main>
    <Splash
      text={`Currently volunteering as a remote Application Developer at MatchMiles. I am available for contract or permanent positions. Open to relocation.`}
    />
    <Experience />
    <Divider />

    <div class="grid grid-cols-2 gap-4 mt-4 mb-12 max-md:flex max-md:flex-wrap">
      <h2 class="text-lg text-black leading-normal max-md:text-base">
        Services
      </h2>
      <div class="grid grid-cols-2 gap-2 items-start max-md:text-sm">
        <!-- contact links -->
        <div class="grid grid-cols-1">
          <Image
            src={designImage}
            alt="Red start"
            class="w-full h-auto mb-2 rounded-md object-cover max-sm:px-0"
          />
          <p class="mb-4">Design</p>
          <div class="flex flex-col text-zinc-400">
            <p>Product design</p>

            <p>Prototyping</p>
            <p>User research</p>
            <p>App design</p>
            <p>UX audits</p>
          </div>
        </div>
        <!-- online -->
        <div class="grid grid-cols-1">
          <Image
            src={softwareImage}
            alt="Red start"
            class="w-full h-auto rounded-md mb-2 object-cover max-sm:px-0"
          />
          <p class="mb-4">Software</p>
          <div class="flex flex-col text-zinc-400">
            <p>Framer Motion</p>

            <p>Tailwind</p>
            <p>JavaScript</p>
            <p>React.js</p>
            <p>Figma</p>
          </div>
        </div>
      </div>
    </div>
    <Divider />

    <ContactFooter />
  </Main>
</Layout>
