---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Splash from "../components/Splash.astro";
import ProjectList from "../components/ProjectList.astro";
import Divider from "../components/Divider.astro";
import ContactFooter from "../components/ContactFooter.astro";

const projects = await getCollection("projects");
---

<Layout title="Salvador Antonio | Home">
  <Main>
    <!-- header -->
    <Splash
      text={`A design engineer based in New York City, NY. I create digital experiences
        that simplify and strengthen human interaction. I believe good design
        changes the world.`}
    />
    <!-- featured works -->
    <h2 class="text-lg text-black leading-normal max-sm:text-base">
      Featured Work
    </h2>
    <ProjectList projects={projects} />
    <!-- contact me -->
    <Divider />
    <ContactFooter />
  </Main>
</Layout>
