<div class="grid grid-cols-2 gap-4 mt-2 mb-8">
  <h2 class="text-lg text-black leading-normal">Experience</h2>
  <div class="grid grid-cols-2 gap-4 items-start">
    <!-- experience 1 -->
    <div class="grid grid-cols-1">
      <p class="mb-0">Application Developer</p>
      <p class="text-zinc-400">2024-Current</p>
    </div>
    <div class="grid grid-cols-1">
      <p class="mb-0">MatchMiles Inc.</p>
      <p class="text-zinc-400">Volunteer</p>
    </div>
    <div class="grid grid-cols-1">
      <p class="mb-0">Teaching Assistant, UI Design</p>
      <p class="text-zinc-400">2024-24</p>
    </div>
    <div class="grid grid-cols-1">
      <p class="mb-0">Columbia University</p>
      <p class="text-zinc-400">Part-Time</p>
    </div>
    <!-- experience 2 -->
    <div class="grid grid-cols-1">
      <p class="mb-0">Product Designer</p>
      <p class="text-zinc-400">2023-2024</p>
    </div>
    <div class="grid grid-cols-1">
      <p class="mb-0">Network Tree</p>
      <p class="text-zinc-400">Full-Time</p>
    </div>
    <!-- experience 3 -->
    <div class="grid grid-cols-1">
      <p class="mb-0">Digital Web Intern</p>
      <p class="text-zinc-400">2023-23</p>
    </div>
    <div class="grid grid-cols-1">
      <p class="mb-0">Pfizer</p>
      <p class="text-zinc-400">Internship</p>
    </div>
  </div>
</div>
