---
import type { CollectionEntry } from "astro:content";
import ProjectItem from "./ProjectItem.astro";

type Props = {
  projects: CollectionEntry<"projects">[]; // Changed to plural "projects"
};

const { projects } = Astro.props;
---

<div class="pt-4 grid grid-cols-2 gap-x-4 gap-y-8 max-md:grid-cols-1 mb-8">
  {projects.map((project) => <ProjectItem project={project} />)}
</div>
