---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section
  class="h-[calc(100vh-var(--header-height))] flex flex-col justify-end pb-12 overflow-hidden"
>
  <h1 class="text-3xl leading-tight mb-2">
    {text}
  </h1>
  <div class="w-full h-px bg-black bg-opacity-10 mt-8"></div>
</section>
