---
import Divider from "./Divider.astro";
import ColorGrid from "./ColorGrid.astro";

interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section
  class="h-[calc(97vh-var(--header-height))] max-sm:h-[calc(90vh-var(--header-height)) flex flex-col justify-end pb-4"
>
  <ColorGrid />
  <h1
    class="text-3xl leading-relaxed mb-2 max-sm:text-2xl max-md:leading-tight"
  >
    {text}
  </h1>
  <Divider />
</section>
