---
import Divider from "./Divider.astro";

interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section
  class="h-[calc(100vh-var(--header-height))] flex flex-col justify-end pb-4 overflow-hidden"
>
  <h1
    class="text-3xl leading-relaxed mb-2 max-sm:text-2xl max-md:leading-tight"
  >
    {text}
  </h1>
  <Divider />
</section>
